<a href="https://colab.research.google.com/github/isiktopcu/bart/blob/main/reading_data_from_drive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive

In [3]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#sharable link
file_link = "link"
file_id = file_link.split("/")[5]

# pyDrive file object
fileDownloaded = drive.CreateFile({'id': file_id})
# load the csv file into memory
fileDownloaded.GetContentFile('example.csv')
df = pd.read_csv('example.csv')
df.head()

,tweet_id,created_at,author_id,place_id,place_name,full_place_name,lat,long,exact_coords,bbox,...,source,conversation_id,reply_settings,referenced_tweets_type,referenced_tweets_id,in_reply_to_user_id,annotations,mentions,linked_url,possibly_sensitive
0,1364706762021036049,2021-02-24 22:40:21+00:00,140928235,60bd9047be319459,Westhumble,"Westhumble, South East",-0.330245,51.254466,False,-0.337459 51.250739 -0.323031 51.258192,...,Twitter for Android,1364539078436356098,everyone,replied_to,1364706077930106882,3029701349,"[{'start': 25, 'end': 31, 'probability': 0.964...","[{'start': 0, 'end': 13, 'username': 'post_lib...",https://twitter.com/hiltonholloway/status/1364...,False
1,1364693518141317123,2021-02-24 21:47:44+00:00,1252910981837197312,30dba570f454bbac,Rushden,"Rushden, England",-0.603826,52.289506,False,-0.630896 52.2728256 -0.5767564 52.3061867,...,Twitter for Android,1364662650320412672,everyone,replied_to,1364662650320412672,2252072101,"[{'start': 105, 'end': 110, 'probability': 0.9...","[{'start': 0, 'end': 16, 'username': 'andersle...",,False
2,1364692142623518725,2021-02-24 21:42:16+00:00,1245292034,53b67b1d1cc81a51,Birmingham,"Birmingham, England",-1.890640,52.493966,False,-2.033651 52.381063 -1.74763 52.60687,...,Twitter for iPhone,1364232001201569794,everyone,replied_to,1364232001201569794,10604172,"[{'start': 76, 'end': 83, 'probability': 0.982...","[{'start': 0, 'end': 11, 'username': 'marcreev...",https://www.google.co.uk/amp/s/amp.theguardian...,False
3,1364683705760047112,2021-02-24 21:08:44+00:00,799091124925300738,68f3012fe4848e35,Cardiff,"Cardiff, Wales",-3.179800,51.497002,False,-3.278624 51.447362 -3.0809756 51.5466412,...,Twitter for iPhone,1364654653292568588,everyone,replied_to,1364654653292568588,1834495928,,"[{'start': 0, 'end': 14, 'username': 'CardiffB...",,False
4,1364680573294362625,2021-02-24 20:56:17+00:00,1254085182442876928,5434fc88dcd5444b,Alexandria,"Alexandria, Scotland",-4.574872,55.987019,False,-4.598343 55.9623898 -4.5514 56.011649,...,Twitter for Android,1364680573294362625,everyone,,,,,,,False

In [4]:
df.shape

(34490, 38)